<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>入墙式移门壁柜</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>滑动门材料明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>长度/规格(mm)</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>移门规格</key>
			<array>
				<dict>
					<key>移门规格</key>
					<string>door_spec</string>
				</dict>
				<dict>
					<key>单扇面积</key>
					<string>s_door_area</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>door_has_count</string>
				</dict>
				<dict>
					<key>合计面积</key>
					<string>door_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>s_door_price</string>
				</dict>
				<dict>
					<key>合计金额(元)</key>
					<string>dis_door_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>收口附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>规格(mm)</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>合计金额(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>墙外独立移门衣柜</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>滑动门材料明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>长度/规格(mm)</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>移门规格</key>
			<array>
				<dict>
					<key>移门规格</key>
					<string>door_spec</string>
				</dict>
				<dict>
					<key>单扇面积</key>
					<string>s_door_area</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>door_has_count</string>
				</dict>
				<dict>
					<key>合计面积</key>
					<string>door_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>s_door_price</string>
				</dict>
				<dict>
					<key>合计金额(元)</key>
					<string>dis_door_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>平开门标准衣柜</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>书柜及综合柜类</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>书柜+写字桌组合</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>客厅电视柜组合</key>
	<array>
		<dict>
			<key>柜体构件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>功能组件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>材质花色</key>
					<string>product_color_no</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>五金附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_unit</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>板材信息</key>
			<array>
				<dict>
					<key>板材规格</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>面积</key>
					<string>product_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>小计(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>移门定制</key>
	<array>
		<dict>
			<key>收口附件明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>规格(mm)</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单位</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>product_dis_price</string>
				</dict>
				<dict>
					<key>合计金额(元)</key>
					<string>product_dis_total_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>滑动门材料明细</key>
			<array>
				<dict>
					<key>名称</key>
					<string>product_name</string>
				</dict>
				<dict>
					<key>代码</key>
					<string>product_no</string>
				</dict>
				<dict>
					<key>长度/规格(mm)</key>
					<string>product_spec</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>product_count</string>
				</dict>
				<dict>
					<key>单价</key>
					<string>product_price</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>移门规格</key>
			<array>
				<dict>
					<key>移门规格</key>
					<string>door_spec</string>
				</dict>
				<dict>
					<key>单扇面积</key>
					<string>s_door_area</string>
				</dict>
				<dict>
					<key>数量</key>
					<string>door_has_count</string>
				</dict>
				<dict>
					<key>合计面积</key>
					<string>door_area</string>
				</dict>
				<dict>
					<key>单价(优惠价)</key>
					<string>s_door_price</string>
				</dict>
				<dict>
					<key>合计金额(元)</key>
					<string>dis_door_price</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
